.top-banner {
    text-align: center;
    background-image: url('../../images/bannerbackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px !important;
    padding-bottom: 20px;
}

.form {
    display: flex !important;
    flex-direction: row !important;
}

input {
    width: 400px !important;
    border-radius: 40px !important;
    border: none !important;
    height: 45px !important;
}

input::placeholder {
    font-size: 15px;
    opacity: 0.5 !important;
    padding-left: 5px;
}

.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#search {
    border: none;
    height: 45px !important;
    position: relative;
    left: -45px;
}