.card {
    border: none !important;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    border-radius: 10px !important;
}

.card:hover {
    box-shadow: 0px 2px 20px 0px lightgrey;
    z-index: 1;
    cursor: pointer
}

.card img {
    margin-top: 20px;
    width: 70%;
    text-align: center !important;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
    opacity: .6;
}

.price {
    font-size: 20px;
    font-weight: 500;
}
